{{template "base" .}}

{{define "content"}}
	<h1>This is the about page!</h1>

	<p>This came form template: {{index .StringMap "test"}}</p>

	<p>	
		{{if ne (index .StringMap "remote_ip") ""}}
			Your remote IP is {{index .StringMap "remote_ip"}}
		{{else}}
			I dont know your IP
		{{end}}
	</p>
{{end}}